body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.grid {
    width: 100%;
    /* position: absolute; */
    display: grid;
    grid-template-columns: 1440px;
    grid-template-rows: 85px 585px 220px 430px 430px 759px 785px 85px;
    border: 2px red solid;
}

/*.for-nav {
    grid-row: 1/1;
    height: 85px;
    background-color: #ffffff;
    border: 2px blue solid;
}*/

nav {
    rid-row: 1/1;
    position: fixed;
    width: 1440px;
    height: 85px;
    text-align: end;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #515151;


}

.logo {
    margin: 10px;
}
.nav-links {
    margin: 10px;
}

header {
    grid-row: 2/2;
    /* width: 1440px; */
    height: 585px;
    background-image: url(./website_pictures/header-pic.PNG);
    background-size: cover;
    border: 2px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

h1 {
    text-align: center;
    margin: 40px;
    color: #ffc53d;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.gridbox.happy-to-help {
    grid-row: 3/3;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.happy-help-buttons-container {
    display: flex;
    justify-content: center;
}
.buttons.button-happy-to-help {
    margin: 20px 20px;
}

.gridbox.about-me {
    grid-row: 4/4;
    border: 2px blue solid;
}

.floating.box {
    width: 1241px;
    height: 280px;
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.gridbox.about-me > .floating-box {
    width: 1241px;
    height: 280px;
    margin-left: 0%;
    margin-top: 75px; /* dlaczego nie działą procentowo jak dam 17%?*/
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-evenly;
}

.gridbox.skills > .floating-box {
    /*position: absolute; 
    left: 100px;
    top: 1461px; */
    width: 1239px;
    height: 280px;
    margin-left: 20%;
    margin-top: 75px;
    background: #ffffff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-evenly;
}

.skills.floating-box > p {
    text-align: center;
}

.gridbox.skills {
    grid-row: 5/5;
    /* width: 1440px; */
    border: 2px blue solid;
    display: flex;
}

.greybox {
    position: absolute;
    width: 980px;
    height: 400px;
    background-color: #fafaff;
    z-index: -1;
}

.gridbox.skills > .greybox {
    width: 980px;
    height: 400px;
    margin-left: 25%;
    margin-top: 30px;
}

.gridbox.portfolio {
    grid-row: 6/6;
    border: 2px blue solid;
}

.portfolio {
    text-align: center;
}

.photos {
    width: 1440px;
    background-color: #ff9a3d
}

#portfolio-pic1 {
    background-image: url(./website_pictures/portfolio/01.PNG);
    background-size: cover;
}


.gridbox.contact {
    grid-row: 7/7;
    background-color: #fafaff;
    border: 2px blue solid;
}

.white-contact-box {
    /* position: relative; */
    /* display: inline-block; */
    /* left: 100px; */
    /* top: 10%; */
    width: 1241px;
    height: 621px;
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.orange-box {
    width: 509px;
    height: 621px;
    background-color: #ff9a3d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.white-box {

}

.container-for-button-send {
    width: 639px;
    display: flex;
    justify-content: flex-end;
}
.container-for-button-send > .buttons {
    margin-right: 0px;
} /* dlaczego powyższe nie działa?*/

.gridbox.contact > p {
    left: 152px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
}

footer {
    width: 1440px;
    background-color: #ffffff;
    grid-row: 8/8;
}

footer > p {
    text-align: center;
}

/* poniżej elementy nieblokowe strony*/

.buttons {
    color: #ffffff;
    background-color: #ffc53d;
    background-image: linear-gradient(90deg, #ff9a3d, #ffc53d);
    border-color: transparent;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    padding: 15px 35px;
    margin: 0px 0px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    mix-blend-mode: normal;
}
.buttons.small {
    width: 100px;
}
.buttons:hover {
    color: #ffc53d;
    background: #ffffff;
    border-color: #ffc53d;
}

.inputform {
    color: #a0a0a0;
    background-color: #fafaff;
    width: 639px;
    height: 56px;
    margin: 10px 10px;
    border-color: #fafaff;
    border-radius: 20px;
}
.inputform.textarea {
    height: 180px;
}
.inputform:focus {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-head {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #222222;


}

.container {
    display: block;
    width: 1440px;
    margin: 0 auto;
}

.contact-alternative {
    background-color: #fafaff;
    border: 2px blue solid;
}

.contact-alternative-header > p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
}

.contact-alternative-content {
    display: flex;
    justify-content: center;
    height: 750px;
    align-items: start;
}

.contact-alternative-contact-box {
    width: 1241px;
    height: 621px;
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* css z figmy*/

/* I am happy to help you with any problem! */

position: absolute;
width: 714px;
height: 43px;
left: 363px;
top: 718px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #222222;

/* Rectangle 7 */

position: absolute;
width: 1241px;
height: 280px;
left: 100px;
top: 974px;

background: #ffffff;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);

/* Rectangle 7 */

position: absolute;
width: 1241px;
height: 621px;
left: 100px;
top: 2765px;

background: #ffffff;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);

/* Rectangle 7.1 */

position: absolute;
width: 1239px;
height: 280px;
left: 100px;
top: 1461px;

background: #ffffff;
box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);


/* Welcome! */

position: absolute;
width: 507px;
height: 118px;
left: 500px;
top: 172px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 117px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFC53D;

